@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Restaurant.Name</h2>
<div>Location: @Model.Restaurant.Location</div>
<div>Cuisine: @Model.Restaurant.Cuisine</div>
@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<a asp-page="./List" class="btn btn-light">All Restaurants</a>